<div class="benefit-panel">
  <div class="item">
    <div class="icon">
      <span nz-icon nzType="lock" nzTheme="fill"></span>
    </div>
    <span class="label">100% Secure</span>
  </div>
  <div class="item">
    <div class="icon">
      <span nz-icon nzType="compass" nzTheme="fill"></span>
    </div>
    <span class="label">Decentralised</span>
  </div>
  <div class="item">
    <div class="icon">
      <span nz-icon nzType="heart" nzTheme="fill"></span>
    </div>
    <span class="label">Free</span>
  </div>

</div>