.digit {
  background: #f1f8ff;
  border: 0;
  height: 85px;
  text-align: center;
  font-size: 36px;
  width: 70px;
  margin: 17.5px;
}

.code {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.receive-wrapper {
  background: white;
  padding: 35px;
  box-shadow: 1px 0px 11px #80808017;
}