<nz-content>
  <div class="content-wrapper center">
    <div class="send-wrapper reduced">
      <app-page-header [header]="header" [description]="description"></app-page-header>
      <nz-upload nzType="drag" [nzMultiple]="false" [nzFileList]="fileList" [nzAction]="uploadUrl" (nzChange)="handleChange($event)" nzShowUploadList="false">
        <div class="upload-wrapper">
          <span>Drag and Drop your file or</span>
          <button nz-button nzType="primary">Browse</button>
        </div>
      </nz-upload>
    </div>
    <nz-alert nzType="info" nzMessage="Login to store your files for longer, your files will be deleted after 24 hours if you're not logged in."
      nzShowIcon></nz-alert>
  </div>
</nz-content>
<app-code-modal [showModal]="showCodeModal" [shareCode]="shareCode" (modalClosed)="handleClose()"></app-code-modal>
