<div class="hero-wrapper" >
  <div class="left">
    <span class="title">Take control of your file sharing.</span>
  <span class="header">
      Lightning-fast file sharing at your fingertips!
  </span>
    <p class="text">Experience the power of decentralized file sharing with our app. Gain full control over your files
      and share them effortlessly with others, all without relying on centralized platforms. Whether you're a student,
      professional, or passionate creator, our app empowers you to securely share, collaborate, and access your files
      anytime, anywhere.</p>
    <button nz-button nzType="primary" routerLink="/send" nzSize="large">Send a File</button>
  </div>
</div>
