.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 17px;
      color: #00A9C8;
      font-weight: bold;
    }

    .header {
      font-size: 90px;
      font-family: 'Playfair Display', serif;
      margin-bottom: 15px;
      line-height: 100px;
      color: #19506E;
    }

    .text {
      font-size: 18px;
    }
  }

  .main {
    width: 50%;
  }
}
