<nz-affix>
  <nz-header>
    <div class="left">
      <img routerLink="/" src="assets/img/logo.png" alt="Logo" class="logo">
    </div>
    <div class="center nav">
      <ul>
        <li>
          <a routerLink="/send" routerLinkActive="active">Send</a>
        </li>
        <li>
          <a routerLink="/receive" routerLinkActive="active">Receive</a>
        </li>
        <li *ngIf="connectedAddress">
          <a routerLink="/my-files" routerLinkActive="active">My Files</a>
        </li>
        <li *ngIf="connectedAddress">
          <a routerLink="/shared-files" routerLinkActive="active">Shared</a>
        </li>
      </ul>
    </div>

    <div class="right">
      <button nz-button nzType="primary" nzSize="large" *ngIf="!connectedAddress" (click)="toggleLogin()">Login</button>
      <div class="user-info" *ngIf="connectedAddress">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-avatar [nzShape]="'square'" [nzIcon]="'user'" [nzSrc]="avatarUrl"></nz-avatar>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="disconnectWallet()">Sign Out</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
</nz-affix>

<app-login-modal [showLogin]="showLogin" (modalClosed)="toggleLogin()"></app-login-modal>
