<div class="file-row">
  <div class="left">
    <img class="icon" src="assets/img/file-icons/pdf.png" alt="">
    <span class="name">File Name</span>
  </div>
  <span class="date">
    22nd December 1990
  </span>
  <div class="options">
    <span nz-icon nzType="share-alt" nzTheme="outline" (click)="toggleShareModal()"></span>
    <a nz-dropdown [nzDropdownMenu]="menu">
      <span nz-icon nzType="more" nzTheme="outline"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="toggleCodeModal()">View Code</li>
        <li nz-menu-item (click)="toggleShareModal()">Share</li>
        <li nz-menu-item (click)="showDeleteConfirm()">Delete</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
<app-share-model [showModal]="showShareModal" (modalClosed)="toggleShareModal()"></app-share-model>
<app-code-modal [showModal]="showCodeModal" (modalClosed)="toggleCodeModal()"></app-code-modal>