.file-row {
  justify-content: space-between;
  background: white;
  padding: 35px;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 11px rgba(128, 128, 128, 0.0901960784);
  margin-bottom: 35px;
    width: 900px;
  max-width: calc(100vw - 60px) !important;
  margin-left: auto;
  margin-right: auto;

  .left {
    .name {
      font-size: 17px;
      font-weight: 500;
      color: #19506E;
    }

  }

  .date {
    font-size: 17px;
  }

  .icon {
    height: 40px;
    margin-right: 15px;
  }

  .options {
    span {
      font-size: 25px;
      cursor: pointer;
      margin-left: 20px;
      color: #C4D1D9;
    }
  }
}
