.digit {
  background: #f1f8ff;
  border: 0;
  height: 65px;
  text-align: center;
  font-size: 36px;
  width: 57px;
  margin: 10.5px;
  ;
}

.code {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.copy {
  margin: auto;
  display: block;
  margin-top: 15px;
}