<div class="features">
  <h1>Features</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla laudantium quam aut, ut eos corporis placeat itaque
    perferendis accusamus, explicabo quis a doloribus magni, voluptatum pariatur. Aspernatur porro laudantium dicta!</p>
  <div nz-row nzGutter="35" class="items">
    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="8" *ngFor="let item of items">
      <div class="item">
        <div class="icon">
          <span nz-icon nzType="compass" nzTheme="fill"></span>
        </div>
        <h3>
          {{ item.title }}
        </h3>
        <p> {{ item.description }} </p>
      </div>
    </div>
  </div>
</div>